
img.icon {
  position: absolute;
  top: -4px;
  right: 4px;
  border-style: none;
}

em {
  color: #005a9c;
}

em.strike {
  font-style: normal;
  text-decoration: line-through;
}

div.band {
  position: absolute;
  top: -1em;
  left: -1em;
  width: 200px;
  height: 100%;
  background-color: #f8ffd0;
  z-index: -1;
}

html {
  position: relative;
  background-color: white;
  z-index: 2;
}

body {
  position: relative;
  font-family: sans-serif;
  margin: 0px 1em 0px 1em;
  z-index: 1;
}

h3 {
  position: relative;
  background-color: #005a9c;
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 0.5ex;
  border-color: #005a9c;
  border-style: none;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 0ex;
  border-right-width: 0ex;
}

h3.reverse {
  position: relative;
  color: #005a9c;
  background-color: white;
  font-size: large;
  font-weight: bold;
  padding: 0.5ex;
  border-color: #005a9c;
  border-style: solid;
  border-width: 1px;
}

h3.lightreverse {
  position: relative;
  color: #005a9c;
  background-color: white;
  font-size: large;
  font-weight: bold;
  padding: 0.5ex;
  border-color: #005a9c;
  border-style: solid;
  border-width: 0px;
}

td.framed {
  border-style: none;
  padding: 0.5ex;
}

td.unframed {
  border-style: solid;
  border-width: 1px;
  padding: 0.5ex;
  border-color: white;
}

h3.right {
  position: relative;
  background-color: #005a9c;
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 0.5ex;
  border-color: #005a9c;
  border-style: none;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 0ex;
  border-right-width: 0ex;
  text-align: right;
}

h4 {
  color: #005a9c;
  font-size: x-small;
  font-weight: bold;
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 0;
  border-bottom-width: 0;
  background-color: white;
}

h4.metadata {
  color: #a0a0a0;
  font-size: medium;
  font-weight: normal;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 0ex;
  border-right-width: 0ex;
  border-color: #005a9c;
  border-style: dotted;
  padding: 0.5ex;
}

h4.closing {
  color: #a0a0a0;
  font-size: x-small;
  font-weight: normal;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-color: #005a9c;
  border-style: dotted;
  padding: 0.5ex;
  text-align: right;
}

td.entry:hover a {
  color: white;
}

a {
  color: #9c0000;
}

ul.metadata a {
  color: #9c7878;
}

ul.metadata a:hover {
  color: white;
  background-color: #005a9c;
  border-bottom: none;
}

a:hover {
  color: white;
  background-color: #005a9c;
  border-bottom: none;
}

table.title {
  border-color: #99b2c6;
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
}

table.title tr {
  background-color: #dae9f6;
}

li {
  list-style-type: circle;
}

ul.metadata {
  color: #a0a0a0;
  padding-left: 0pt;
  font-size: small;
  list-style-position: inside;
}

ul.metadata li {
  margin-left: 0pt;
  list-style-type: square;
}

ul.compact {
  padding-left: 0px;
  font-size: x-small;
  list-style: inside;
}

ul.compact li {
  list-style-type: circle;
}

dl.compact {
  padding-left: 0px;
  font-size: x-small;
  list-style: inside;
}

dl.compact dt {
  font-weight: bold;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 1px;	
  border-right-width: 0px;	
  border-color: #005a95;
  color: white;
  background-color: #005a95;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
  margin-bottom: 0;
}

dl.compact dd {
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;	
  border-right-width: 0;
  border-color: #005a95;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
  margin-left: 0;
  margin-bottom: 1ex;
  margin-top: 0;
}

td.entry {
  text-align: right;
  padding: 0.5ex;
  font-size: large;
}

td.entry:hover {
  background-color: #005a95;
  text-align: right;
  padding: 0.5ex;
  font-size: large;
}

td.selectedentry {
  text-align: right;
  background-color: #d0d0d0;
  padding: 0.5ex;
  font-size: large;
}

td.title {
  text-align: left;
}

td.top {
  font-weight: bold;
  font-size: large;
  text-align: right;
  vertical-align: middle;
}

div.center {
  text-align: center;
}

div.small {
  font-size: x-small;
}

img.thumbnail {
  border: 1px solid #d0d0d0;
}

img {
  border-style: none;
}

p.date {
  font-size: x-small;
  color: #a0a0a0;
  text-align: right;
}

span.date {
  font-weight: bold;
}

span.adage {
  font-style: italic;
  font-weight: bold;
}

tt.error {
  color: red;
}